[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.4"

[dev-packages]
yapf = "*"
pylint = "*"
ipython = "*"

[requires]
python_version = "3.7"
