[[source]]
name = "pypi"
url = "https://mirrors.ustc.edu.cn/pypi/web/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
autopep8 = "*"

[packages]
jieba = "*"
wordcloud = "*"
matplotlib = "*"
pyecharts = "*"

[requires]
python_version = "3.6"
